/* ----------------------------------------------- *\
    Button
\* ----------------------------------------------- */
button {
    cursor: pointer;
}

.btn {
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 1rem;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    -ms-user-select: none;
    -moz-user-select: none;
    vertical-align: middle;
    -webkit-user-select: none;
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &.-inline-flex {
        gap: 10px;
        display: inline-flex;
        padding: 10px 1.5rem;

        &:hover img {
            transition: .3s ease;
            filter: invert(1);
        }

        img {
            width: 100%;
            max-width: 25px;
        }

        span {
            margin: auto 0;
        }
    }

    &.btn-xl {
        font-size: 18px;
        padding: 1rem 2.5rem;
    }

    &.btn-bold {
        font-weight: 600;
    }

    &.btn-outline-white {
        color: var(--c-white);
        background-color: transparent;
        border: 1px solid var(--c-white);

        &:hover {
            color: var(--c-black);
            background-color: var(--c-white);
        }
    }

    &.btn-white {
        color: var(--c-black);
        background-color: var(--c-white);
        border: 1px solid var(--c-white);

        &:hover {
            transition: .3s ease;
            color: var(--c-white);
            background-color: transparent;
        }
    }

    &.btn-primary {
        color: var(--c-white);
        background-color: var(--c-primary);
        border: 1px solid var(--c-primary);

        &:hover {
            transition: .3s ease;
            color: var(--c-secondary);
            background-color: transparent;
        }
    }

    &.btn-secondary {
        color: var(--c-white);
        background-color: var(--c-secondary);
        border: 1px solid var(--c-secondary);

        &:hover {
            transition: .3s ease;
            color: var(--c-secondary);
            background-color: transparent;
        }
    }
}