/* ----------------------------------------------- *\
    About card
\* ----------------------------------------------- */
.about-card {
    padding: 25px;

    .-header {
        gap: 10px;
        display: flex;
        text-align: center;
        flex-direction: column;

        img {
            width: 35px;
            margin: auto;
        }

        .-title {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    .-content {
        font-size: 1.1rem;
        text-align: center;
        padding: 15px 0;

        p {
            margin: 0;
            padding: 0;
            color: var(--c-twilight-gray);
        }
    }
}